body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "MonaSansExtraLight";
  src: local("MonaSans-ExtraLight"),
   url("./fonts/MonaSans/MonaSans-ExtraLight.ttf") format("truetype");
  /* font-weight:400; */
 }
 @font-face {
  font-family: "MonaSansMedium";
  src: local("MonaSans-Medium"),
   url("./fonts/MonaSans/MonaSans-Medium.ttf") format("truetype");
  /* font-weight: 800; */
 }
 @font-face {
  font-family: "MonaSansLight";
  src: local("MonaSans-Light"),
   url("./fonts/MonaSans/MonaSans-Light.ttf") format("truetype");
  /* font-weight: 600; */
 }
 @font-face {
  font-family: "MonaSansBold";
  src: local("MonaSans-SemiBold"),
   url("./fonts/MonaSans/MonaSans-SemiBold.ttf") format("truetype");
  /* font-weight: 600; */
 }
 
 
